.container-header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 3.5em;
    background-color: var(--cor-primaria);
}

.container-header h1 {
    color: var(--cor-branco);
}